<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<h1>{% block title %} Callbacks  {% endblock %}</h1>
<table>
    <tr>
        <th>Message</th>
        <th>Signature</th>
        <th>Time</th>
    </tr>


    {% for row in database -%}
        <tr>
            <td>{{ row.message }}</td>
            <td>{{ row.signature }}</td>
            <td>{{ row.datetime }}</td>
        </tr>
    {% endfor %}
</table>


</body>
</html>